@font-face {
    font-family: 'fontAwesome';
    src: url('../fonts/fa-solid-900.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/fa-solid-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fa-solid-900.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/fa-solid-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fa-solid-900.svg') format('svg');
    /* Legacy iOS */
}
